<div class='jumbotron'>
    <div class='home-search-area'>
        <%= content_tag :h2, t('geoblacklight.home.headline') %>
        <%= content_tag :h3, t('geoblacklight.home.search_heading') %>
        <div class='col-md-6 col-md-offset-3'>
            <%= render_search_form_no_navbar %>
        </div>
    </div>
</div>

<div class='container'>

    <div class='institution-area'>
        <div class='row'>
            <div class='col-sm-12 text-center'>
                <%= content_tag :h2, t('geoblacklight.home.institution.heading') %>
                <%= link_to search_catalog_path({f: {Settings.FIELDS.PROVENANCE => [Settings.INSTITUTION]}}), class: 'btn btn-primary search-btn' do %>
                <%= t('geoblacklight.home.institution.view_layers_button') %>
                <span class='geoblacklight-icon geoblacklight-lewis-clark'></span>
                <% end %>
            </div>
        </div>
        <div class='row'>
            <%= render :partial => 'catalog/featured_collections', :locals => {:collections => featured_collections} %>
        </div>
        <div class='row'>
            <%= render :partial => 'catalog/featured_maps', :locals => {:maps => featured_maps} %>
        </div>
    </div>

    <div class='row browse-area'>
      <div class='col-md-12'>
        <%= content_tag :h2, t('geoblacklight.home.category_heading'), class: 'text-center' %>
        <div class='category-block'>
          <div class='category-icon'>
            <span class='glyphicon glyphicon-home'></span>
          </div>
          <h4>Institution</h4>
          <%= render_facet_tags [Settings.FIELDS.PROVENANCE] %>
        </div>
        <div class='category-block'>
          <div class='category-icon'>
            <span class='glyphicon glyphicon-download'></span>
          </div>
          <h4>Data type</h4>
          <%= render_facet_tags [Settings.FIELDS.GEOM_TYPE] %>
        </div>
        <div class='category-block'>
          <div class='category-icon'>
            <span class='glyphicon glyphicon-tags'></span>
          </div>
          <h4>Subject</h4>
          <%= render_facet_tags [Settings.FIELDS.SUBJECT] %>
        </div>
        <div class='category-block'>
          <div class='category-icon'>
            <span class='glyphicon glyphicon-book'></span>
          </div>
          <h4>Collection</h4>
          <%= render_facet_tags [Settings.FIELDS.PART_OF] %>
        </div>
      </div>
    </div>
</div>
